@import url("https://use.typekit.net/gfo2pvr.css");

* {
  --primary: rgb(20, 45, 70);
  --secondary: rgb(30, 150, 135);
  --complementary: rgb(230, 180, 60);
  --offwhite: rgb(235, 240, 245);
  --offblack: rgb(51, 51,51);;
  color: var(--offblack);
  font-family: 'futura-pt', sans-serif;
  box-sizing: border-box;;
}

a {
  text-decoration: none;
  color: var(--offblack);
}

body {
 background-color: var(--offwhite);
 margin: 0;
}

.button-pill {
  background-color: var(--secondary);
  color: var(--offwhite);
  height: 40px;
  margin: 10px 5px;
  min-width: 100px;
  font-size: 12pt;
  padding: 5px 5px;
  border-radius: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  text-align: center;
  box-shadow: var(--secondary) 0 10px 20px -10px;
  transition: transform 0.3s;
  font-family: Arial, sans-serif;
}

.button-pill:hover {
    transform: translateY(-2px);
}

.button-pill:active {
    transform: translateY(1px);
}

.header-container {
  background-color: var(--primary);
  color: var(--offwhite);
  display: flex;
  justify-content: space-between;
  padding: 0.5% 2%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

.logo {
  width: 200px;
  height: 50px;
  margin: 5px 20px;
  transition: transform 0.3s;
}

.loading-logo {
  width: 150px;
  height: 150px;
  transition: transform 0.3s;
}

.logo:hover {
  transform: scale(1.05); 
  cursor: pointer;
}

.header-menu {
  color: var(--offwhite);
  font-size: large;
  display: flex;
  justify-content: space-evenly;
  align-content: flex-end;
}

.header-menu a {
  margin-left: 10px;
  margin-right: 10px;
  color:var(--offwhite);
  font-size: 14pt;
}

.header-menu a:hover {
  transform: translateY(-2px);
}

.header-menu a:active {
  transform: translateY(1px);
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-left a {
  margin-right: 10px;
  color: var(--offwhite);
}

.header-left .button-pill {
  padding: 7px 10px;
  background-color: var(--offwhite);
  color: var(--offblack);
}

.ReactModal__Overlay {
  display: flex;
  align-items: center;
  justify-content: center; 
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.ReactModal__Content {
  width: 40%;
  height: 50%;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.staff-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  width: auto; 
  padding: 10px 0;
  margin: 10px;
}

.staff-card {
  padding: 15px 0px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  background-color: white;
  border-radius: 8px;
  margin-right: 5px;
  margin-left: 5px;
  width: 180px;
  height: 200px;
  display: flex;
  color: var(--offblack);
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.schedule-title-container {
  display: flex;
  margin: 0px 5px;
}

.schedule-container {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  display: grid;
  grid-template-columns: .2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr .2fr;
  align-items: stretch; /* This vertically centers the children */
  margin: 0px 15px;
  padding: 10px 0px;
  background-color: white;
}

.schedule-container-daily {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  display: grid;
  grid-template-columns: .2fr 7fr .2fr;
  align-items: stretch; /* This vertically centers the children */
  margin: 0% 5%;
  background-color: white;
}

.day-container {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  padding: 5%;
  width: 100%;
  gap: 10px;
}

.day-container-daily {
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 100%;
  margin: 0% 0%;
  align-items: center;
  justify-content: center;
  gap: 15px;

}

.schedule-shifts { 
  font-weight: 200;
  font-size: 10pt;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  padding: 10px 20px;
  border-radius: 15px;
  margin: 0px 5px;
  width: 100%;
}

.schedule-shifts-daily { 
  font-weight: 200;
  font-size: 12pt;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  padding: 10px 20px;
  border-radius: 15px;
  margin: 0px 5px;
  width: 100%;
}

.schedule-shifts strong {
  text-align: left;
  font-size: 12pt;
}

.schedule-shifts-daily strong {
  text-align: left;
  font-size: 12pt;
}

.schedule-shifts:hover {
  cursor: pointer;
}

.schedule-date-picker {
  min-width: 140px;
} 

.schedule-modal {
  min-height: 300px;
  min-width: 500px;
  z-index: 3;
}

.schedule-modal strong{
  display: flex;
}

.arrow-icon {
  display: flex;
  justify-self: center;
  margin: 10px 10px;
  height: 20px;
  width: 100%;
}

.schedule-modal-buttons {
  display: inline-flex;
  gap: 15px;
  width: 100%;
  justify-content: space-between;
}

.schedule-modal-buttons button {
  border-radius: 999px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

.schedule-modal-button-confirm{
  background: green;
  box-shadow: green 0 10px 20px -10px;
}

.schedule-modal-button-cancel{
  background: grey;
  box-shadow: gray 0 10px 20px -10px;
}

.schedule-modal-button-delete{
  background: red;
  box-shadow: red 0 10px 20px -10px;
}

.daily-schedule-container {
  width: 100%; /* Take up all available space between the SVGs */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers children horizontally */
}

.daily-schedule-container strong {
  font-size: 14pt;
  margin: 0px 0px 15px 0px;
}

.arrow-icon-daily {
  margin: 10px 10px;
  height: 30px;
  width: 30px;
}

.week-repeat {
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
}

strong {
  text-align: center;
  display: block; /* Makes sure the text-align takes effect */
}

.signup-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 15px 15px;
  margin: 15px 25px;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  gap: 15px;
}

.signup-fields {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
}

.protected-container {
  display: grid;
  grid-template-columns: 1.5fr 10fr;
  height: 100%;
}

.nav-bar-container {
  border-radius: 15px;
  margin: 25px 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.nav-bar-item {
  padding: 5px 15px;
  border-radius: 15px;
  width: 100%;
}

.nav-bar-item:hover {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.protected-header-container {
display: flex;
justify-content: space-between;
}

.protected-header-left {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--offblack);
  margin: 15px 5px;
  padding: 5px 15px;
  border-radius: 15px;
}

.protected-header-left:hover {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.user-modal {
  display: flex;

}

.user-modal-container {
  width: 100%;
  height: 100%;
}

.user-info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around ;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.user-info-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.protected-route-container {
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  margin-top: 10px;
  margin-right: 20px;
  margin-left: 10px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  padding: 10px;
  height: 100%;
}

.divider {
  width: 1px;  /* width of the vertical line */
  background-color: #444;
  height: 80%;
}

.settings-container {
  display: grid;
  grid-template-columns: 1.5fr .2fr 8fr;
  height: 100%;
}

.settings-navbar {
  background: #FFFFFF;
  border: none; 
  border-radius: 15px;
  padding: 5px 10px;
  text-align: left;
  font-size: 12pt;
}

.settings-navbar:hover {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 15px;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 50px; 
  width: 100%;
}

.card {
  width: 28%; 
  height: 500px;
  border: 1px solid #ddd;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15); 
  background-color: #fff;
  border-radius: 10px; 
  padding: 20px 40px; 
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}

.card.advanced {
  z-index: 0;
  transform: scale(1.1);
}

.card-button {
  width: 10%;
  min-width: 150px;
  align-self: center;
  justify-self: end;
}

.card-text {
  text-align: left;
}

.staff-settings-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px 25px;
}

.staff-settings-card {
  display: flex;
  padding: 5px;
  border-radius: 8px;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

.staff-settings-card:hover {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.staff-settings-create-date {
  color: rgba(0, 0, 0, 0.5);
  font-style: italic;
}

.staff-modal {
  min-height: 400px;
  min-width: 600px;
  z-index: 3;
}

.staff-modal-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.icon-wrap {
  display: flex;
  justify-content: space-between;
}

.close-icon {
  display: flex;
  height: 20px;
  width: 20px;
}

.staff-name-wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 30%;
}

.staff-name-wrap-editable {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20%;
}

.button-pill:disabled {
  background-color: grey;
  box-shadow: grey 0 10px 20px -10px;
}